levels:
  - levelName: "a wake up call"
    rooms:
      - roomID: 1
        roomName: "bensons plain"
        roomDescription: "the plain reaches seemingly endlessly to the sky in all directions\nand the sky itself feels greasy and cold.\npyramidal rough shapes dot the horizin and land which\nupon closer examination are made from bufalo skulls.\nThe air tastes of grease and bensons.\nhappy happy happy\n"
        roomType: "plain"
        objects:
          - objID: 1
            type: "path"
            direction: "E"
            destination: "walking eagle pass"
            material: "dirt"
            objDescription: "a path east leads upwards toward the mountains"
            actions:
              - actionID: 1
                type: "open"
                enabled: true
                revertable: false
                dBit: true
                dBitText: "the path winds east, it is open"
          - objID: 2
            type: "path"
            direction: "N"
            destination: "eli's barn"
            material: "dirt"
            objDescription: "a path north leads toward a large wooden barn"
            actions:
              - actionID: 1
                type: "open"
                enabled: true
                revertable: false
                dBit: true
                dBitText: "the path heads north, it leads to a barn"
          - objID: 3
            type: ball
            objDescription: "a knock off UEFA football\nits a bit battered and bruised\nnot exactly a sphere\nbut you can kick it"
            material: "leather"
            actions:
              - actionID: 1
                type: "kick"
                enabled: true
                revertable: false
                dBitText: "the ball bounces feebly and rolls into some dog shit. fun."
                dBit: true
        objectIds: [3]
        dirObjIds: [1, 2]
      - roomID: 2
        roomName: "eli's barn"
        roomDescription: "the barn is old and smells of old hay and oddly dissolution\nthe floor is dirt and trampled dried horse shit scattered with straw and broken bottles\nthe smell is not unpleasent and reminds you faintly of petrol and old socks"
        roomType: "barn"
        objects:
          - objID: 1
            type: "door"
            direction: "S"
            destination: "bensons plain"
            material: "wood"
            objDescription: "an old wooden barn door, leads south"
            actions:
              - actionID: 1
                type: "open"
                enabled: true
                revertable: false
                dBit: true
                dBitText: "the door, closes with a creak"
          - objID: 2
            type: "window"
            direction: "W"
            destination: "eli's forge"
            material: "glass"
            objDescription: "a dusty window, at chest height"
            actions:
              - actionID: 1
                type: "open"
                dBit: false
                enabled: false
                revertable: false
                dBitText: "the window, now broken, falls open"
              - actionID: 2
                type: "break"
                dBitText: "the window, smashes, glass flies everywhere, very very satisfying"
                enabled: true
                dBit: false
                revertable: false
                affectsAction:
                  actionID: 1
        objectIds: []
        dirObjIds: [1, 2]
      - roomID: 3
        roomName: "walking eagle pass"
        roomDescription: "it winds through the mountains, the path is treacherous\ntoilet papered trees cover the steep \nvalley sides below you.\nOn closer inspection the TP might \nbe the remains of a cricket team\nor perhaps a lost and very dead KKK picnic group.\nIt's brass monkeys."
        roomType: "mountains"
        objects:
          - objID: 1
            type: "path"
            direction: "W"
            destination: "bensons plain"
            material: "dirt"
            objDescription: "path"
            actions:
              - actionID: 1
                type: "open"
                enabled: true
                revertable: false
                dBit: true
                dBitText: "the path winds west, it is open"
        objectIds: []
        dirObjIds: [1]
